        <div class="sidebar-parts">
          <h2>書いている人について</h2>
          <img src="/assets/icon_honeniq.png" alt="honeniqアイコン" width="128">
          <h3>honeniq (ほねにく)</h3>
          <li><a href="https://twitter.com/honeniq">twitter</a></li>
          <li><a href="https://github.com/honeniq">GitHub</a></li>
          <li><a href="https://qiita.com/honeniq">Qiita</a></li>
          <p>新しいもの、サイバーなものが好きです。</p>
          <p>最近の興味: Ruby, Docker, インフラCI, Vim, 聖飢魔II, fitbit, 電子工作, ウィスキー, ボードゲーム, 燻製など</p>
        </div>

